<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="js/jquery.min.js"></script>
    <script src="js/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="css/semantic.css">
    <link rel="stylesheet" type="text/css"  href="css/docs.css">
    <title>无标题文档</title>
</head>
<body id="example" class="started pushable">
<div class="pusher">
	<!--mobile-->
    <!--sidebar-->
    <div class="ui vertical inverted sidebar menu left" id="toc">
        <div class="item">
          <a class="ui logo icon image" href="/">
            <img src="/images/logo.png">
          </a>
          <a href="/"><b>UI 文档</b></a>
        </div>
        <a class="item" href="/introduction/getting-started.html">
          <b>起步</b>
        </a>
        <a class="item" href="/introduction/new.html">
          <b>2.2新特性</b>
        </a>
        <div class="item">
          <div class="header">介绍</div>
          <div class="menu">
              <a class="item" href="/introduction/integrations.html">集成 </a>
          </div>
        </div>
    </div>
    <!--//sidebar-->
    <!--top-->
    <div class="ui fixed inverted main menu">
      <div class="ui container">
        <a class="launch icon item" id="mob_menu">
          <i class="content icon"></i>
        </a>
        <div class="item">面包屑导航 </div>
      </div>
    </div>
      <script>
		$('#mob_menu').click(function(){
			 $('#toc').sidebar('toggle')
			})
   	  </script>
    <!--//top-->
    <!--//mobile-->
	<!--content-->
    <div class="full height">
    	<!--sidebar-->
        <div class="toc">
        <div class="ui vertical inverted sticky menu fixed top">
        <div class="item">
          <a class="ui logo icon image" href="/">
            <img src="images/logo.png">
          </a>
          <a href="/"><b>UI 文档</b></a>
        </div>
        <a class="item" href="/introduction/getting-started.html">
          <b>起步</b>
        </a>
        <a class="item" href="/introduction/new.html">
          <b>2.2新特性</b>
        </a>
        <div class="item">
          <div class="header">介绍</div>
          <div class="menu">
              <a class="item" href="/introduction/integrations.html">集成 </a>
          </div>
        </div>
        </div>
      </div>
        <!--//siderbar-->
        <!--article-->
        <div class="article">
        	<!--top-->
            <div class="ui masthead vertical segment">
              <div class="ui container">
                <div class="introduction">
                  <h1 class="ui header">起步 <div class="sub header">开始学习使用Semantic UI </div></h1>
                </div>
              </div>
			</div>
            <!--//top-->
            <!--main-->
            <div class="main ui intro container">
            	<!--right bar-->
                <div class="ui dividing right rail" id="ri_bar">
                   <div class="ui sticky">
                    <h4 class="ui header">折叠菜单</h4>
                        <div class="ui vertical following fluid accordion text menu">
                            <div class="item">
                                <a class="title active">
                                    <i class="dropdown icon"></i> 
                                    <b>Types</b>
                                </a>
                                <div class="content menu active">
                                    <a class="item" href="#">折叠菜单</a>
                                    <a class="item" href="#">格式的</a>
                                </div>
                            </div>
                            <div class="item">
                                <a class="title">
                                    <i class="dropdown icon"></i>
                                    <b>Variations</b>
                                </a>
                                <div class="content menu">
                                    <a class="item" href="#">流式布局</a>
                                    <a class="item" href="#inverted">Inverted</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//right bar-->
                <!--text-->
    			<h2 class="ui dividing header center aligned">小视科技最新采集资讯<a class="anchor" id=""></a></h2>
                <div class="ui stackable two column divided grid container">
                  <div class="row">
                    <div class="column">
                      <div class="ui segment">
                      	<p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                      </div>
                    </div>
                    <div class="column">
                       <div class="ui segment">
                      	<p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="column">
                       <div class="ui segment">
                      	<p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                      </div>
                    </div>
                    <div class="column">
                       <div class="ui segment">
                      	<p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="column">
                       <div class="ui segment">
                      	<p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                      </div>
                    </div>
                    <div class="column">
                       <div class="ui segment">
                      	<p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                        <p>为什么Bootstrap不设计得像Semantic UI那样简洁易懂</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--//text-->
                <!--pages-->
                <div class="ui container center aligned">
                <p></p>
                <div class="ui pagination menu">
                  <a class="active item">
                    1
                  </a>
                  <div class="disabled item">
                    ...
                  </div>
                  <a class="item">
                    10
                  </a>
                  <a class="item">
                    11
                  </a>
                  <a class="item">
                    12
                  </a>
                </div>
                </div>
                <!--//pages-->
            </div>
            <!--//main-->
        </div>
        <!--//article-->  
    </div>
    <!--//content-->
	<!--foot-->
   <div class="ui black inverted vertical footer segment">
   <div class="ui center aligned container">
    <div class="ui stackable inverted grid">
      <div class="three wide column">
        <h4 class="ui inverted header">社区</h4>
        <div class="ui inverted link list">
          <a class="item" href="" target="_blank">协助翻译</a>
          <a class="item" href="" target="_blank">CLA</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">网络</h4>
        <div class="ui inverted link list">
          <a class="item" href="" target="_blank">GitHub 库</a>
        </div>
      </div>
   <!--    <div class="three wide column">
        <h4 class="ui inverted header">Learn</h4>
        <div class="ui inverted link list">
          <a href="#" class="disabled item">Example Layouts</a>
          <a href="#" class="disabled item">The Project</a>
          <a href="#" class="disabled item">Roadmap</a>
          <a href="#" class="disabled item">About the Author</a>
        </div>
      </div> -->
      <div class="seven wide right floated column">
        <h4 class="ui inverted teal header">帮助维持本项目</h4>
        <p> 社区为 Semantic UI 持续不断的发展提供了直接的支持。</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="7ZAF2Q8DBZAQL">
          <button type="submit" class="ui large teal button">现在捐赠</button>
        </form>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <img src="images/logo.png" class="ui centered mini image">
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="" target="_blank">Free &amp; Open Source (MIT)</a>
    </div>
  </div>
</div>
    <!--//foot-->
</div>
 <script>
	$('#ri_bar .item')
	  .accordion({
		selector: {
		  trigger: '.title .icon'
		}
	  })
	;
</script>
</body>
</html>
