<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>仙逆情缘</title>
</head>
<body>
<script type="text/javascript">
  var u = navigator.userAgent;
  var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
  var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
  if(isiOS){
      window.location.href = "http://m.maowan.com/xnqyios/1/index.html"
  }
  else if(isAndroid){
      window.location.href = "http://m.maowan.com/xnqy/41/index.html"
  }
  else {
      window.location.href = "http://m.maowan.com/"
  }
</script>
</body>
</html>