<div class="ui dividing right rail">
    {% block right_bar %}
   <div class="ui sticky">
    <h4 class="ui header">常用网站</h4>
        <div class="ui vertical following fluid accordion text menu">
            <div class="item">
                <a class="title active">
                    <i class="dropdown icon"></i>
                    <b>小视科技</b>
                </a>
                <div class="content menu active">
                    <a class="item" href="http://www.minivision.com.cn/">小视官网</a>
                    <a class="item" href="http://192.168.123.4/">小视OA</a>
                </div>
            </div>
            <div class="item">
                <a class="title">
                    <i class="dropdown icon"></i>
                    <b>站外导航</b>
                </a>
                <div class="content menu">
                    <a class="item" href="http://36kr.com/">36Kr</a>
                    <a class="item" href="https://www.huxiu.com/">虎嗅</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</div>