{% extends 'zixun/base.html' %}
{% block h1_title %}
  <h1 class="ui header medium center aligned">
    商业电话数据
    </h1>
    <div class="ui fluid icon input">
      <input type="text" placeholder="搜索你想要查找的信息">
      <i class="search icon"></i>
    </div>
    <p class="ui align-right segment">共有{{ num }}条来自慧聪网的数据</p>
{% endblock %}
{#{% block content %}{{content}}{% endblock %}#}
{#{% for contact in contacts %}#}
{#    {{ contact.comp_name }}<br />#}
{#{% endfor %}#}
{% block content %}
    <div class="ui relaxed divided list">
    {% for comp in comps %}
        <div class="item">
            <i class="large github middle aligned icon"></i>
            <div class="content">
              <a href="http://{{ comp.comp_page }}" class="header">{{ comp.comp_name }}</a>
                <p></p>
              <div class="description">{{ comp.crawl_time }}</div>
            </div>
        </div>
    {% endfor%}
    </div>
{% endblock %}
{% block pages %}
    <div class="ui container center aligned">
        <div class="ui pagination menu">
            {% if comps.has_previous %}
              <a class="item">pre</a>
            {% endif %}
              <div class="disabled item">{{ comps.number }} of {{ comps.paginator.num_pages }}</div>
            {% if comps.has_next %}
               <a class="item" href="?page={{comps.next_page_number}}">next</a>
            {% endif %}
        </div>
    </div>
{% endblock %}