{% extends 'zixun/basezx.html' %}
{% block content %}
    <div class="ui statistics dividing">
      <div class="statistic">
        <div class="value">
        {% for cate in cate_name %}
          {{ cate.cate_name }} /
        {% endfor%}
        </div>
      </div>
      <div class="red statistic">
        <div class="value">
          {{ today_article }}
        </div>
        <div class="label">新增资讯 </div>
      </div>
      <div class="statistic">
        <div class="value">
          {{ all_article }}
        </div>
        <div class="label">总数</div>
      </div>
      <div class="statistic">
        <div class="value">
          99
        </div>
        <div class="label">指数or阅读量</div>
      </div>
    </div>
    <div class="ui dividing header"></div>
    <div class="ui top attached tabular menu">
      <a href="/{{ cate_id }}/" class="item">舆情/概况</a>
       {% for tag in tags %}
          {% if tag.tag_id == now_tag_id %}
              <a href="/{{ cate_id }}/{{ tag.tag_id }}" class="item active">{{ tag.tag_name }}</a>
          {% else %}
              <a href="/{{ cate_id }}/{{ tag.tag_id }}" class="item">{{ tag.tag_name }}</a>
          {% endif %}
      {% endfor%}
    </div>
    <div class="ui active top_tab segment">
      <div class="ui top attached tabular menu" style="margin-bottom: 10px">
        <a class="item">统计图/讯息列表</a>
      </div>
      <!--内容-->
      	<div class="ui column grid">
        	<div class="seven wide column">
            	<div class="ui segment pd1">
                	<div class="ui medium header">统计时间<div class="sub header">12-17 00:00:00~12-17 16:00:09</div></div>
                </div>
                <div class="ui segment pd1" id='ecmain3' style="width:100%;height:300px;">
                </div>
            </div>
        	<div class="nine wide column">
            	<div class="ui segment pd1" id='ecmain5' style="width:100%;height:378px;"></div>
            </div>
        </div>
        <div class="ui segment pd1">本日预测热点：证监会发布十大举措；阿里巴巴回应190亿元控股新乐视：没有这回事 ----</div>
         <table class="ui celled padded table">
          <thead>
            <tr>
            <th>推荐指数</th>
            <th>标题</th>
            <th>来源</th>
            <th>时间</th>
          </tr></thead>
          <tbody>
          {% for zx in zixun %}
            <tr style="text-align:center">
              <td style="padding:0; margin:0">
                普通/推荐
              </td>
              <td style="padding:0; margin:0" class="left aligned"><a href="{{ zx.link }}" target="_blank">&nbsp;&nbsp;&nbsp;{{ zx.title }}</a> ----</td>
              <td style="padding:0; margin:0" class="center aligned"><br /><a href="#">{{ zx.source }}</a> </td>
              <td style="padding:0; margin:0">{{ zx.c_time }}</td>
            </tr>
           {% endfor%}
          </tbody>
        </table>
      <!--//内容-->
    </div>
    <!--//box1-->
    <script>
    main3();
    </script>
    <script>
     var main5 = echarts.init(document.getElementById('ecmain5'),'macarons');
    var option5 = {
        title : {
            text: '板块热词',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            x : 'center',
            y : 'bottom',
            data:{{ data_kw|safe }}
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {
                    show: true,
                    type: ['pie', 'funnel']
                },
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        series : [
            {
                name:'面积模式',
                type:'pie',
                roseType : 'area',
                data:{{ data_kw_dic|safe }}
            }
        ]
    };
    main5.setOption(option5);
    window.onresize = main5.resize;
    </script>
    <script>
    var main3 = echarts.init(document.getElementById('ecmain3'),'macarons');
    var option3 = {
        title: {
            text: '新闻趋势统计'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['P/D']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['周一','周二','周三','周四','周五','周六','周日']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name:'P/D',
                type:'line',
                stack: '总量',
                data:[150, 95, 170, 324, 290, 330, 320]
            }
        ]
    };
    main3.setOption(option3);
    window.onresize = main3.resize;
    </script>
{% endblock %}
